
/* CSS REMEDY */
*, *::after, *::before {
box-sizing:border-box;  
}

/* CUSTOM PROPERTIES */
:root {
	  /* colors */
	--color-text:rgb(107, 92, 67);
	--Hoofdkopjes: rgb(2, 125, 117);
	--main-background-color: rgb(137, 201, 161);
	--sectioncolor-background: rgb(248, 248, 240);
	--logocolor: rgb(230, 0, 18);
	--menucolor:  rgb(241, 226, 111);
	--mainribboncolor: rgba(240,255,245,255);
	--secundairysectioncolor: rgba(229,255,230,255);
  --footerbackground: rgba(248,238,188,255);
  --hovercolor: rgb(2, 125, 117);
  --activecolor: rgb(248, 96, 20);
  --focuscolor: rgb(20, 142, 248);
  --sectionbordercolor: rgb(0, 129, 96, 0.65);
  --borderimages: white;
  --hoverbackg: rgb(241, 241, 241);
  --hoverbuttonbg: rgb(203, 49, 62);
  --hoverHCbutton: rgb(107, 92, 67);
  --hoverRMbutton: ;
  --whitetextdarkmode: white;
  --shadows: black;
  --focusstyle: rgb(231, 183, 25);
  --buttonbackg: rgb(107, 92, 67);
  --footertext:#6b5c43;

  /* highcontrast colors */
  --HCbackground: #251f15 ;
  --HCsections: #524632; 
  --HCtext:#f8f8f0;
  --HCtitels:  #f1e170;
  --HCborders: #f1e170;

  /* font smoothing website */
  -webkit-font-smoothing: antialiased;
	/* Main Font */
	font-family: 'Libre Franklin', sans-serif;
  background-color: var(--main-background-color);
}
 
/* Dark Theme */
@media (prefers-color-scheme:dark) {
  :root {
  --main-background-color: rgb(87, 86, 130);
  --sectioncolor-background: rgb(44, 44, 100);
  --Hoofdkopjes: rgb(255, 255, 255);
  --color-text:rgb(255, 255, 255);
  --mainribboncolor: rgb(2, 125, 117);
  --menucolor:  rgb(174, 172, 232);
  --sectionbordercolor: rgb(2, 125, 117);
  --secundairysectioncolor: rgb(54, 54, 88) ;
  --footerbackground: #aeace8;
  --borderimages:  rgb(230, 230, 230);
  --whitetextdarkmode: black;
  --buttonbackg: white;
  --footertext:black ;
  }
  body {
  background-image: none;
}
  div:nth-of-type(7) {
  background-color: var(--sectioncolor-background);
  background-image:none;
}

div:nth-of-type(6) div p {
color: black;
}


}

/* Reduce motion */
@media (prefers-reduced-motion) {
   body {
	margin: 0;
	background-image: url(./images/Exploreimgs/backgroundacnh.jpeg); 
	animation-duration: 0s;
	}
}

/* high contrast mode  */
/* High contrast mode voor javascript*/
body.highContrastMode {
  background-color: var(--HCbackground);
  background-image: none;

}

body.highContrastMode h1  {
 color:var(--HCbackground)  ;
 background-color: var(--HCborders);
}

body.highContrastMode p, body.highContrastMode h2, body.highContrastMode div:nth-of-type(3) article h2,
body.HighContrastMode div:nth-of-type(6) article h2{
  color: var(--HCtext);
}
 
body.highContrastMode nav ul:nth-child(2) li:nth-child(3) button, body.highContrastMode article, body.highContrastMode div:nth-child(1), 
body.highContrastMode div:nth-of-type(7) h2, body.highContrastMode footer, body.highContrastMode footer a:nth-of-type(7), body.highContrastMode a:nth-of-type(8), body.highContrastMode a:nth-of-type(9)  {
  background-color: var(--HCsections);
}

body.highContrastMode div article:nth-of-type(1){
border: solid 0.75em var(--HCborders);
}
 
body.highContrastMode div:nth-of-type(6) div p {
color: var(--HCbackground);
}

body.highContrastMode div div p {
  background-color: var(--HCtext) ;
  color: var(--HCbackground);
}

body.highContrastMode footer a:nth-of-type(7):hover, body.highContrastMode a:nth-of-type(8):hover, body.highContrastMode a:nth-of-type(9):hover  {
  background-color: var(--borderimages);
  border-radius: 1em;
  font-family: 'Zilla Slab', serif;
  padding: 0.5em;
  margin: 0.3em;
  color: var(--HCbackground);
}
body.highContrastMode footer a {
  color: var(--HCtext); 
}
/* ...................eerste deel = navigatie ...................... */
  
header nav img {
  max-width: 3em;
}
  
@keyframes backgroundmove {
0% {
	background-position: 0%;
}
50% {
	background-position: 35% 55%;
}
100% {
background-position: 0%;
}
 }


header nav:first-of-type ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--logocolor);
	flex-grow: 1;
}
  
header nav:nth-child(1) ul+ul {
  background-color: var(--menucolor);
  justify-content: center;
  position: sticky;
  top: 0;
}

header nav:nth-child(1) ul+ul button  {
  padding: 1em;
  font-family: 'Saira', sans-serif;
  font-family: 'Zilla Slab', serif;
}
nav ul:nth-child(2) li:nth-child(1) button {
  background-color: var(--borderimages);
  border-radius: 3em;

}
nav ul:nth-child(2) li:nth-child(2) button  {
  background-color: var(--buttonbackg);
  color: var(--whitetextdarkmode);
  border-radius: 3em;
}

nav ul:nth-child(2) li:nth-child(3) button  {
  background-color: var(--buttonbackg);
  border-radius: 3em;
  color: var(--whitetextdarkmode);
}

nav ul:nth-child(2) li:nth-child(2) button:hover, nav ul:nth-child(2) li:nth-child(3) button:hover {
  box-shadow: 0.1em 0.1em 0.1em var(--shadows);
}

nav ul:nth-child(2) li:nth-child(2) button:active, nav ul:nth-child(2) li:nth-child(3) button:active {
  box-shadow: inset 0.1em 0.1em 0.1em var(--shadows);
}

/* skip navigatie voor accesability */
 /* bron voor skip navigatie link= https://www.w3schools.com/accessibility/accessibility_skip_links.php 
 ik heb de code wel aangepast zodat het werkt zonder class */
 header nav ul:first-child li:nth-of-type(1) a {
  text-decoration: none;
  font-size: 0.8em;
  background-color: var(--borderimages);
  border-radius: 1em;
  font-family: 'Zilla Slab', serif;
  padding: 0.5em;
  margin: 0.3em;
  color: var(--shadows);
}

header nav li {
  padding: 5px;
  list-style: none;
}

/* hamburger menu navigatie ..hidden.. */
header nav+nav {
  background-color: var(--menucolor);
  position: fixed;
  right: 0em;
  left: 0em;
  top: 0em;
  bottom: 0em;
  translate: 100% 0%; 
  z-index: 1;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;  
  font-family: 'Saira', sans-serif;
  font-family: 'Zilla Slab', serif;
  color: var(--color-text);
}
  
header nav+nav a {
  font-family: 'Saira', sans-serif;
  font-family: 'Zilla Slab', serif;
  color: var(--color-text);
  text-decoration: none;
}

header nav+nav a:hover {
  color: var(--hovercolor);
  background-color: var(--hoverbackg);
  padding: 0.5em;
  border-radius: 1em;
  transition: 0.25s;
}
  
header nav+nav a:active {
  color: var(--activecolor)
}

header nav+nav.toonMenu {
	translate: 0% 0%; 
	transition: 1s;   
}


  
/* browser doet een automatische padding van 40px dus hier specificeren */ 
ul {
  padding: 0px;
	margin: 0px;
}

button {
  border: none;
	background-color: transparent;
	padding: 0;
  text-align: center;
}
/* bron outline ridge: https://developer.mozilla.org/en-US/docs/Web/CSS/outline */
video:focus, a:focus , button:focus {
  outline: ridge var(--focusstyle) 0.5em;
  border-radius: 1em;
}

/* footer */
footer {
  margin: 1em;
  background-color: var(--footerbackground);
  margin: 0;
  padding: 1.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  
footer h2 {
align-items: center;
color: var(--footertext);
font-size: 1em;
width: 22em;
text-align: center;
} 
footer p {
  color: var(--footertext);
  font-size: 0.7em;
  margin: 1em;
}

footer img{
  width: 4em;
  margin: 1em;
  align-content: center;
}

footer [src="./images/Exploreimgs/logo-nso.svg"] {
  width: 8em ;

}

footer a:nth-of-type(7), a:nth-of-type(8), a:nth-of-type(9){
  color: var(--footertext);
  font-size: 0.7em;
  margin: 0.5em;
}

footer a:nth-of-type(7):hover, a:nth-of-type(8):hover, a:nth-of-type(9):hover {
color: var(--hovercolor);
}

footer a:nth-of-type(7):active, a:nth-of-type(8):active, a:nth-of-type(9):active {
  color: var(--activecolor);
}

